name: Build and Release

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

env:
  # Necessary for running git related commands in the build process
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: Build on macOS
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          check-latest: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build Application
        run: |
          # Build specifically for macOS
          wails build -platform darwin/universal

      - name: Package Application
        run: |
          cd build/bin
          zip -r Guardian.app.zip Guardian.app

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Guardian-macOS
          path: build/bin/Guardian.app.zip

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/bin/Guardian.app.zip
